.container {
  background-color: white;
  max-width: 1024px;
  margin: 0 auto;
  min-height: 100vh;
}

.header {
  font-family: 'Pacifico',
    cursive;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #23212C;
  background-color: #FCD615;
}

.header h2 {
  font-size: 2rem;
  font-weight: 400;
  user-select: none;
}

.header svg {
  font-size: 2.2rem;
  cursor: pointer;
}

.header svg:hover {
  color: #3A3637;
}

.main {
  margin-top: 1rem;
}